/* grifo */
.tcc-highlight {
  background: #ffe66d;
  padding: 0 2px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.06) inset;
}

/* proteção para outros elementos visuais */
code .tcc-highlight,
pre .tcc-highlight,
textarea .tcc-highlight,
input .tcc-highlight {
  background: inherit !important;
  box-shadow: none !important;
}